.Inventory__main {
    height: 100%;
}

.Inventory__main > .col {
  padding: 20px 10px;
}

.Inventory__main > .col:nth-child(1) {
  background: rgba(#dddad8, .25);
  max-width: 200px;
}Î

.Inventory__main > .col:nth-child(3) {
  max-width: 500px;
}

.Inventory__main > .col.itemsWrap {
  background: #fff;
}
