.CharacterEquipment {
  display: flex;
  height: 100%;
  margin-bottom: 20px;
}

.CharacterEquipment .column {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 5px;
}

.CharacterEquipment .equipment {
  align-items: center;
  background-color: #dddad8;
  border: 2px dashed #bfbcba;
  display: flex;
  flex: 1;
  justify-content: center;
  margin: 0;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.CharacterEquipment .equipment--empty {
  cursor: default;
}

.CharacterEquipment .equipment * {
  width: 100%;
  height: 100%;
}

.CharacterEquipment .equipment:hover {
  background-color: #bce1b9;
  border: 2px dashed #78aa6a;
}

.CharacterEquipment .equipment.equipment--empty:hover {
  background-color: #dddad8;
  border: 2px dashed #bfbcba;
}

.CharacterEquipment .equipment:nth-child(2) {
  margin-top: 10px;
}

.CharacterEquipment .column:nth-child(1),
.CharacterEquipment .column:nth-child(3) {
  width: 90px;
}
.CharacterEquipment .column:nth-child(2) {
  width: 110px;
}

.CharacterEquipment .column:nth-child(1) .equipment:nth-child(1),
.CharacterEquipment .column:nth-child(3) .equipment:nth-child(1) {
  margin-top: 20px;
  max-height: 140px;
}

.CharacterEquipment .column:nth-child(1) .equipment:nth-child(2),
.CharacterEquipment .column:nth-child(3) .equipment:nth-child(2) {
  max-height: 60px;
  margin-top: 20px;
  margin-bottom: 40px;
}
