.CharacterEquipment {
  display: flex;
  height: calc(280px + 1vmin);
  justify-content: space-between;
  margin-bottom: 20px;
}

.CharacterEquipment > div:nth-child(1),
.CharacterEquipment > div:nth-child(3) {
  width: 24%;
}
.CharacterEquipment > div:nth-child(2) {
  width: 32%;
}

.CharacterEquipment > div > div {
  width: 100%;
}

.CharacterEquipment > div:nth-child(1) > div:nth-child(1),
.CharacterEquipment > div:nth-child(3) > div:nth-child(1) {
  height: calc(65% - 20px);
}

.CharacterEquipment > div:nth-child(1) > div:nth-child(2),
.CharacterEquipment > div:nth-child(3) > div:nth-child(2) {
  height: calc(30% - 20px);
  margin-top: 20px;
}

.CharacterEquipment > div:nth-child(2) > div {
  height: calc(100% - 40px);
  margin-top: 40px;
}
