.Characters .list .list-item {
  height: 80px;
  overflow: hidden;
  border: 2px dashed #bfbcba;
  margin-bottom: 5px;
}
.Characters .list .list-item:hover {
  background-color: #bce1b9;
  border: 2px dashed #78aa6a;
}
.Characters .list .list-item--selected {
  background-color: #badded;
  border: 2px dashed #50a4bd;
}
.Characters .list .list-item--selected:hover {
  background-color: #badded;
  border: 2px dashed #50a4bd;
}

.Characters .link:hover {
  text-decoration: none;
}

.Character__portrait-small {
  float: left;
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.Character__portrait-small > img {
  width: 100%;
  margin: -25% 0;
}

.Character__label {
  font-size: 16px;
}
