.item {
  width: 100px;
  height: 100px;
  float: left;
  padding:20px;
  background-color: #dddad8;
  border: 2px dashed #bfbcba;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: help;
}

.itemItem {
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}
