body {
  background-color: #f3f5fa;
  color: #787d84
}

.nav {
  background-color: #617989;
}

.nav a {
  color: #ffffff;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  transition-property: border-color, background-color, color;
  transition-duration: .5s;
}

.nav-item a:hover {
  background-color: #28586f;
  color: #e9f0ff;
  border-color: transparent;
  transition-property: border-color, background-color, color;
  transition-duration: .2s;
}

.nav-item--selected a {
  background-color: #55595e;
  color: #ffffff;
}

.list {
  /*border: 1px solid #000;*/
  /*margin: 0 0;*/
  /*padding: 0 0;*/
}

.list-item a, .list-item .link {
  color: #3c84a6;
  transition: color .5s;
  padding: 10px;
}

.list-item a:hover, .list-item .link:hover {
  color: #204457;
  transition: color .2s;
}

.list-item--selected a, .list-item--selected .link,
.list-item--selected a:hover, .list-item--selected .link:hover {
  border-color: #193645;
  color: #193645;
  transition: color .2s;
  cursor: default;
}

.green {
  color: #7da71d;
}

.red {
  color: #a73c10;
}

.Inventory__main > .col {
  background-color: #faf7f4;
  border: 2px dashed #e9e6e4;
}

.Character__portrait-small {
  background-color: #dddad8;
  border: 2px dashed #bfbcba;
}

.CharacterEquipment > div > div {
  background-color: #dddad8;
  border: 2px dashed #bfbcba;
}
